<h1 id="tableLabel">Movies</h1>

<p>This component demonstrates fetching data from the server.</p>

<button class="btn btn-primary" (click)="addBook()">Add book!</button>

<p *ngIf="!books"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="books">
  <thead>
    <tr>
      <th>Title</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let book of books">
      <td>{{ book.title }}</td>
      <td>{{ book.author }}</td>
    </tr>
  </tbody>
</table>
